<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shineyue.cn.mapper.StudentMapper">
    <resultMap id="studentMap" type="com.shineyue.cn.model.Student">
        <id property="id" column="g_id"/>
        <result property="name" column="g_name"/>
        <result property="age" column="g_age"/>
        <result property="sex" column="g_sex"/>
        <result property="teamId" column="g_team_id"/>
        <result property="status" column="g_status"/>
    </resultMap>

    <select id="listAll" resultMap="studentMap" parameterType="String">
          select s.* from t_student s where g_team_id=#{teamId} and g_status=0
    </select>

    <insert id="addStudent" parameterType="com.shineyue.cn.model.Student">
        insert  into t_student(g_id,g_name,g_age,g_sex,g_team_id)
        values (
        #{id}, #{name}, #{age}, #{sex} ,#{teamId}
        )

    </insert>

    <update id="updateStudent" parameterType="com.shineyue.cn.model.Student">
        update  t_student set

        g_name=#{name},  g_age=#{age} ,g_sex=#{sex},g_team_id=#{teamId},g_status=#{status}
             where g_id=#{id}

    </update>

<update id="delStudent" >
     update  t_student set
     g_status=#{status}
      where g_id=#{id}
</update>


    <select id="findById" parameterType="String" resultMap="studentMap">
        select * from t_student
        where
        g_id=#{id}

    </select>

</mapper>