<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shineyue.cn.mapper.TeamMapper">
    <resultMap id="teamAndStudent" type="com.shineyue.cn.model.Team">
        <id property="id" column="g_id"/>
        <result property="name" column="g_name"/>
        <collection  property="studentList" ofType="com.shineyue.cn.model.Student">
            <id property="id" column="s_id"/>
            <result property="name" column="s_name"/>
            <result property="age" column="g_age"/>
            <result property="sex" column="g_sex"/>
        </collection >
    </resultMap>

    <select id="getAllTeamAndPerson" resultMap="teamAndStudent">
          SELECT
            T.*,
            s.g_id s_id,
            s.g_name s_name,
            s.g_sex,
            s.g_age
        FROM
            t_team
            T LEFT JOIN t_student s ON T.g_id = s.g_team_id;
    </select>


</mapper>