<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shineyue.dao.StudentMapper">
  <resultMap id="BaseResultMap" type="com.shineyue.model.Student">
    <id column="t_id" jdbcType="VARCHAR" property="t_id" />
    <result column="t_name" jdbcType="VARCHAR" property="t_name" />
    <result column="t_age" jdbcType="SMALLINT" property="t_age" />
    <result column="t_sex" jdbcType="CHAR" property="t_sex" />
    <result column="t_team_id" jdbcType="VARCHAR" property="t_team_id" />
    <result column="t_status" jdbcType="SMALLINT" property="t_status" />
  </resultMap>
  <sql id="Base_Column_List">
    t_id, t_name, t_age, t_sex, t_team_id, t_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_student
    where t_id = #{t_id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_student
    where t_id = #{t_id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.shineyue.model.Student">
    insert into t_student (t_id, t_name, t_age, 
      t_sex, t_team_id, t_status
      )
    values (#{t_id,jdbcType=VARCHAR}, #{t_name,jdbcType=VARCHAR}, #{t_age,jdbcType=SMALLINT}, 
      #{t_sex,jdbcType=CHAR}, #{t_team_id,jdbcType=VARCHAR}, #{t_status,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shineyue.model.Student">
    insert into t_student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="t_id != null">
        t_id,
      </if>
      <if test="t_name != null">
        t_name,
      </if>
      <if test="t_age != null">
        t_age,
      </if>
      <if test="t_sex != null">
        t_sex,
      </if>
      <if test="t_team_id != null">
        t_team_id,
      </if>
      <if test="t_status != null">
        t_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="t_id != null">
        #{t_id,jdbcType=VARCHAR},
      </if>
      <if test="t_name != null">
        #{t_name,jdbcType=VARCHAR},
      </if>
      <if test="t_age != null">
        #{t_age,jdbcType=SMALLINT},
      </if>
      <if test="t_sex != null">
        #{t_sex,jdbcType=CHAR},
      </if>
      <if test="t_team_id != null">
        #{t_team_id,jdbcType=VARCHAR},
      </if>
      <if test="t_status != null">
        #{t_status,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shineyue.model.Student">
    update t_student
    <set>
      <if test="t_name != null">
        t_name = #{t_name,jdbcType=VARCHAR},
      </if>
      <if test="t_age != null">
        t_age = #{t_age,jdbcType=SMALLINT},
      </if>
      <if test="t_sex != null">
        t_sex = #{t_sex,jdbcType=CHAR},
      </if>
      <if test="t_team_id != null">
        t_team_id = #{t_team_id,jdbcType=VARCHAR},
      </if>
      <if test="t_status != null">
        t_status = #{t_status,jdbcType=SMALLINT},
      </if>
    </set>
    where t_id = #{t_id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shineyue.model.Student">
    update t_student
    set t_name = #{t_name,jdbcType=VARCHAR},
      t_age = #{t_age,jdbcType=SMALLINT},
      t_sex = #{t_sex,jdbcType=CHAR},
      t_team_id = #{t_team_id,jdbcType=VARCHAR},
      t_status = #{t_status,jdbcType=SMALLINT}
    where t_id = #{t_id,jdbcType=VARCHAR}
  </update>
  <select id="selectStudent" resultMap="BaseResultMap">
    select * from t_student
  </select>
</mapper>